  <div class="contents row">
    <div class="success">
      <h1>Congratulations!</h1> <br>
      <h2>Your new journey is recorded.</h2>
      
    
    <div class="character-comment-wrapper">
      <div class="comment">
      <p>Good Job!</p>
      </div>
      <%# ここを勉強時間に応じて条件分岐したい+ロゴキャラ登場させる %>

      <div class="character">
      </div>
    </div>

      <a class="btn" href="/records/index">一覧を見る</a> 
      <%# 要修正やねん %>
    </div>
  </div>