<header class="header-home">
<h1 class="site-title">My Learning Journey</h1>
<h2 class="site-description">人生100年時代。日々「学ぶ」ことはあなたの人生の資産になる</h2>
</header>

<div class="works-wrapper">
  <div class="work-box">
      <div class="work-description">
       <div class="description-detail">
        <h1>プログラミング</h1><br>
        <h2>目標学習時間 XXX</h2>
        <h2>総学習時間 <%= @total_studytime %>  h </h2><br>
       </div>
        <a href="/records/new" class="button button-ghost">学習を記録する</a>
        <a href="/records/index" class="button button-ghost">学習一覧を表示</a>
      </div>
  </div>

  <div class="work-box">
      <div class="work-description">
       <div class="description-detail">
        <h1>ドイツ語</h1><br>
        <h2>目標学習時間 XXX</h2>
        <h2>総学習時間 XXX</h2><br>
       </div>
        <a href="#" class="button button-ghost">学習を記録する</a>
        <a href="#" class="button button-ghost">学習一覧を表示</a>
      </div>
  </div>

  <div class="work-box">
      <div class="work-description">
       <div class="description-detail">
        <h1>Web デザイン</h1><br>
        <h2>目標学習時間 XXX</h2>
        <h2>総学習時間 XXX</h2><br>
        </div>
        <a href="#" class="button button-ghost">学習を記録する</a>
        <a href="#" class="button button-ghost">学習一覧を表示</a>
      </div>
  </div>
</div>

<div class="btn-all">
  <div class="btn">
    <a class="btn-orange" href="/records/new">新しい学習を登録する</a>
  </div>
  <div class="btn">
    <a class="btn-orange" href="/records/index">サインイン/ログアウト？</a>
  </div>

  <a class="btn-none" href="/records/show">About us</a>
</div>

<%# #Twitter plug in %>
<div class="twitter">
<a href="https://twitter.com/intent/tweet?screen_name=it_multilingual&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @it_multilingual</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<a class="twitter-timeline" data-width="300" data-height="350" href="https://twitter.com/it_multilingual?ref_src=twsrc%5Etfw">Tweets by it_multilingual</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>